*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body{
    background: lightblue;
}
#app{
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color: lightgray;
    margin: 5px;
}