*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body{
    background-color: white
    ;
}
#app{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.top{
    display: flex;
    justify-content: space-between;
    height: 68px;
}
.top img{
    height: 100%;
}
.top > *{
    display: flex;
    align-content: center;
    margin: 7px;
}
.to_right{
    align-items: center;
}
.top_left>*{
    padding: 10px;
}
.top_left ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.top_left ul li{
    margin: 5px;
    font-size: 0.7rem;
}

main{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 18%;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    text-align: center;
    margin: 5px;
}
.serieTv{
    margin-top: 40px;
}
.titleLang img{
    width: 15px;
    height: 10px;
}
.tumbnail img{
    width: 100%;
}
.titleVote>div .noStar{
    color: rgba(1,1,1,0.1);
}