<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- cdn axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="js/main.js"></script>
    <!-- foglio di stile -->
    <link rel="stylesheet" href="css/main.css">
    <title>Boolflix</title>
</head>
<body>
    <div id="app">
        <div class="top">
            <div class="top_left">
                    <img src="img/ape.png" alt="">
                    <ul>
                        <li>Home</li>
                        <li>Serie Tv</li>
                        <li>Film</li>
                        <li>Nuovi e popolari</li>
                    </ul>
            </div>
            <div class="top_right">

                <input type="text" class="text" v-on:keyUp.enter="addQuery" v-model="query">
                <button @click="addQuery">Search</button>
            </div>
            
        </div>
        <div class="movie">
            <main  v-if="query!=''">
                <div class="card" v-for="elem in allResults.results">
                    <div class="tumbnail">
                        <img :src='"http://image.tmdb.org/t/p/original"+elem.poster_path' alt="">
                    </div>
                    <span class="title">
                        {{elem.title}}
                    </span>
                    <span class="titleOR">
                        {{elem.origina_title}}
                    </span>
                    <span class="titleVote">
                        <span v-if="elem.vote_average==0"> Recensiscilo! </span>
                        <div v-else>
                            
                            <i v-for="elem in Math.round(elem.vote_average/2)"class="fa fa-star" aria-hidden="true"></i> 
                            <i  v-for="elem in (5-Math.round(elem.vote_average/2))" class="fa fa-star noStar" aria-hidden="true"></i>

                        </div>
                    </span>
                    <span class="titleLang">
                        <img v-if="elem.original_language=='en'"
                    src="img/en.jpg">
                        <img v-else :src='"https://flagcdn.com/16x12/"+elem.original_language+".png"' alt="">
                    </span>
                </div>
            </main>
            <div v-else>Nessun film presente</div>
        </div>
        <div class="serieTv">
            <div v-if="query!=''">Serie tv</div>
            <main >
                <div class="card" v-for="elem in allResults2.results">
                    <div class="tumbnail">
                        <img v-if="elem.poster_path!==null" :src='"http://image.tmdb.org/t/p/original"+elem.poster_path' :alt="elem.name">
                        <img v-else src="img/ape.png" alt="">
                    </div>
                    <span class="name">
                        {{elem.name}}
                    </span>
                    <span class="nameOR">
                        {{elem.origina_name}}
                    </span>
                    <span class="titleVote">
                        {Math.round{elem.vote_average%2}}
                    </span>
                    <span class="titleLang">
                    <img v-if="elem.original_language=='en'"
                    src="img/en.jpg">
                    <img v-else :src='"https://flagcdn.com/16x12/"+elem.original_language+".png"' alt="">
                    </span>
                </div>
            </main>
            <div v-else>Nessun serie tv presente</div>

        </div>
    </div>
    
</body>
</html>